.wjs-top {
    line-height: 50px;
    height: 50px;
    border: 1px solid #eee;

    .row {
        >div {
            text-align: center;
            height: 50px;

            &:nth-child(-n+3) {
                border-right: 2px solid #ccc;
            }

            a {
                position: relative;
                display: block;

                &:hover {
                    img {
                        z-index: 999;
                        display: block;
                    }
                }

                img {
                    display: none;
                    position: absolute;
                    top: 50px;
                    left: 26px;
                    border: 1px solid #ccc;
                    border-top: 0;
                }

            }

            &:nth-child(3) {
                a {
                    display: inline;
                }
            }

            &:nth-child(4) {
                button {
                    &:nth-child(1) {
                        background-color: red;
                    }
                }
            }

        }

    }
}

.wjs-navbar {
    .wjs-navbar-nav {
        a {
            height: 80px;
            line-height: 50px;
            font-size: 16px;

            &:hover {
                border-bottom: 3px solid red;
            }
        }

        .active {
            a {
                border-bottom: 3px solid red;
                background-color: transparent;

                &:hover {
                    background-color: transparent;

                }
            }
        }
    }

    .navbar-header {
        button {
            margin-top: 24px;
        }
    }

    .navbar-right {
        li {
            a {
                height: 80px;
                line-height: 50px;
                font-size: 16px;

                &:hover {
                    border-bottom: 3px solid red;
                }
            }
        }
    }

    .navbar-brand {
        span {
            height: 80px;
            line-height: 50px;
            font-size: 40px;

            &:nth-child(1) {
                color: red;
            }

            &:nth-child(2) {
                color: black;
            }
        }
    }
}


.baozhang {

    // position: relative;
    // height: 150px;
    // background-color: aqua;
    .row {
        div {
            // width: 390px;
            height: 75px;
            background-color: rgb(180, 73, 73);

            span {
                line-height: 75px;
                display: inline-block;
                font-size: 30px;
            }

            .right {
                // width: 300px;
                position: absolute;
                top: 10px;
                left: 50px;
                height: 50px;

                // background-color: antiquewhite;
                a:nth-child(1) {
                    font-size: 18px;
                    display: block;
                    // background-color: aqua;
                }
            }
        }
    }
}

.paidui {
    position: relative;
    // display: flex;
    top: 20px;

    // height: 60px;
    // background-color: blueviolet;
    a:last-child {
        line-height: 60px;
        float: right;
    }

    p {
        height: 35px;
        line-height: 35 px;
        display: inline-block;
        color: red;

        &:last-child {
            border-bottom: 1px dashed red;
        }
    }
}

.xialiebiao {
    background-color: #ccc;
    height: 90px;
    padding-top: 40px;
    .row{
        position: relative;
        left: 30px;
        div{
            text-align: center;
            display: inline-block;
            width: 100px;
            height: 47px;
            line-height: 47px;
            border-bottom: 3px solid red;
            // background-color: antiquewhite;
            &:last-child{
                position: absolute;
                left: 1050px;
            }
            &:hover
        }
    }   
}