.wjs-navbar {
    .wjs-navbar-nav {
        a {
            height: 80px;
            line-height: 50px;
            font-size: 16px;

            &:hover {
                border-bottom: 3px solid red;
            }
        }

        .active {
            a {
                border-bottom: 3px solid red;
                background-color: transparent;

                &:hover {
                    background-color: transparent;

                }
            }
        }
    }

    .navbar-right {
        li {
            a {
                height: 80px;
                line-height: 50px;
                font-size: 16px;

                &:hover {
                    border-bottom: 3px solid red;
                }
            }
        }
    }
    .navbar-brand{
        span{
            height: 80px;
            li
            font-size: 40px;
            &:nth-child(1){
                color: red;
            }
            &:nth-child(2){
                color: black;
            }
        }
    }
}